<ion-view title="Select Customer">
    <div class="sticky-header">
        <div class="row">
            <div class="col col-50">
                <h1 class="logo">Castrol</h1>
            </div>
            <div class="col">
                <h2 class="project">Castrol Pricing Engine</h2>
            </div>
        </div>
    </div><!--end sticky header-->
    <div class="content-area">
        <ion-content overflow-scroll="true" padding="true" class="has-header">
            <h4>Select Customer</h4>
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search customer" ng-model="input.searchInput">{{searchInput}}
                </label>
            </div>
            <!--<form class="list">
                <ion-toggle toggle-class="toggle-positive">Sync Customer</ion-toggle>
            </form>-->
            <ion-list class="repeated-list">
                <ion-item ng-repeat="custList in custLists | filter:input.searchInput" ng-click="GetCustData(custList)">
                    {{custList.custname}}
                </ion-item>
            </ion-list>
            <!--<ion-list>
                <ion-item>Customer -1</ion-item>
                <ion-item>Customer -1</ion-item>
                <ion-item href="#/app/ActiceProduct">Customer -Select me(122345)</ion-item>
            </ion-list>-->

        </ion-content>
    </div>
</ion-view>