
@font-face {
  font-family: 'CastrolSansCon-Regular';
  src: url('../fonts/CastrolSansCon-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/CastrolSansCon-Regular.woff') format('woff'), url('../fonts/CastrolSansCon-Regular.ttf')  format('truetype'), url('../fonts/CastrolSansCon-Regular.svg#CastrolSansCon-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
